body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    background-image: url('../img/loginbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-center {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

button {
    display: block;
    width: 100%;
}
