@{
     ViewData["Title"] = "Startpagina";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Meer informatie over <a href="https://learn.microsoft.com/aspnet/core">bouwen van web apps met ASP.NET Core</a>.</p>
</div>